*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
   
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}




.container{
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    background: var(--primary-color);
    /* margin: auto; */
    /* padding:0 50px ; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 84%;
    margin: auto;
}
.image{
    width: 80px;
    cursor: pointer;
}
.container ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-transform: uppercase;
}
.container ul li a{
text-decoration: none;
color: var(--secondary-color);
transition: 1s;
}
.container ul li a:hover{
    color: purple;
}

.container .info{
    margin-left: 8%;
    margin-top: 15%;
}
.container .info h1{
    font-size: 60px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.container span{
    color: orangered;
}
.info p{
    color: var(--secondary-color);
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.info a{
    text-decoration: none;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 10px 25px;
    border-radius: 5px;

}
.img-box{
    width:45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
    
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s ,left 1s;
}
.img-box:hover .back-img{
bottom: 40px;
}
.img-box:hover .front-img{
    left:54%;
}
.social-links{
    margin-left: 8%;
    margin-top: 100px;
}
.social-links a{
    font-size: 30px;
    color: var(--secondary-color);
    padding: 20px;
}
.social-links a:hover{
    color: orangered;
}


